<%- include('header') %>
    <form method="GET" action="cotacao">
        <input name="cotacao" value="<%= cotacao %>" placeholder="Cotação dolar"><br />
        <input name="quantidade" placeholder="Quantidade dolares"><br />
        <button>Converter!</button>
    </form>
    <%- include('footer') %>